

@mixin border($x, $color: #000, $type: solid) {
    border: $x $type $color;
}




@mixin background-color($color, $opacity) {
    background: rgba($color, $opacity)!important;
}



@mixin horizontal-vertical-centering($left: 0, $x:50%, $y:-50%) {
    position: absolute;
    top: 50%;
    left: $left;
    transform: translateX($x) translateY($y);
}





@mixin absolute-position($t:0, $l:0, $b:0, $r:0) {
    position: absolute;
    top: $t;
    left: $l;
    bottom: $b;
    right: $r;
}


@mixin rounded-item($w, $h) {
     width: $w;
     height: $h;
     border-radius: 50%;

}


@mixin transition-duration($value:.3s){
    transition: $value;
}