/* ---------------- TABLE ---------- */
/* -------------------------------------- */

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    @include border(1px, #f2eeee);
    text-align: center;
    padding: 9px 45px;
}

thead {
    color: #000;
    tr th {
        padding: 32px 16px;
    }
}


tfoot {
    tr td {
        background-color: #fafafa;
        padding: 32px 16px;
    }
}


tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

tbody, tfoot{
    color: #868686;
    tr{
     text-transform: capitalize;
    }
}




/////////////////////// RESPONSIVE ///////////////////////

@media screen and (max-width: 600px) {
    
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 2px solid $main-color;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #fbf4f4;
        display: block;
        //font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    tfoot tr td {
        background-color: #fafafa;
        padding: 8px 44px;
        &:before{
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}